parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Carbon\\:\\:diffInUTCHour\\(\\)\\.$#"
			count: 1
			path: src/AutomationRules/Conditions/ReservationAttribute.php

		-
			message: "#^Access to an undefined property DateTime\\:\\:\\$timestamp\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:location\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Status\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:whereHash\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Http\\\\Controllers\\\\Customers\\:\\:extendFormFields\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 3
			path: src/Extension.php

		-
			message: "#^Method Igniter\\\\Admin\\\\Widgets\\\\Form\\:\\:addTabFields\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$floor_plan\\.$#"
			count: 1
			path: src/FormWidgets/FloorPlanner.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:dining_tables\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/FloorPlanner.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\DiningTable\\:\\:isBroken\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/DiningAreas.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Status\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Reservations.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\DiningArea\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Reservations.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:find\\(\\)\\.$#"
			count: 2
			path: src/Http/Controllers/Reservations.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:getSettings\\(\\)\\.$#"
			count: 2
			path: src/Listeners/MaxGuestSizePerTimeslotReached.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxGuestSizePerTimeslotReached.php

		-
			message: "#^Comparison operation \"\\>\" between \\(array\\|float\\|int\\) and int\\<min, \\-1\\>\\|int\\<1, max\\> results in an error\\.$#"
			count: 1
			path: src/Listeners/MaxGuestSizePerTimeslotReached.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:getSettings\\(\\)\\.$#"
			count: 6
			path: src/Models/Concerns/LocationAction.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\DiningArea\\:\\:\\$available_tables\\.$#"
			count: 3
			path: src/Models/DiningArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\DiningArea\\:\\:\\$dining_tables\\.$#"
			count: 1
			path: src/Models/DiningArea.php

		-
			message: "#^Call to an undefined method Igniter\\\\Reservation\\\\Models\\\\DiningArea\\:\\:dining_tables\\(\\)\\.$#"
			count: 1
			path: src/Models/DiningArea.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\DiningArea\\:\\:dropdown\\(\\)\\.$#"
			count: 1
			path: src/Models/DiningArea.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\DiningSection\\:\\:dropdown\\(\\)\\.$#"
			count: 1
			path: src/Models/DiningSection.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\DiningTable\\:\\:\\$dining_area\\.$#"
			count: 1
			path: src/Models/DiningTable.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\DiningTable\\:\\:\\$dining_section\\.$#"
			count: 1
			path: src/Models/DiningTable.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\DiningSection\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Models/DiningTable.php

		-
			message: "#^Call to an undefined method Igniter\\\\Reservation\\\\Models\\\\DiningTable\\:\\:fixTree\\(\\)\\.$#"
			count: 1
			path: src/Models/Observers/DiningTableObserver.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:saveAsRoot\\(\\)\\.$#"
			count: 1
			path: src/Models/Observers/DiningTableObserver.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:\\$customer\\.$#"
			count: 4
			path: src/Models/Observers/ReservationObserver.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:\\$location\\.$#"
			count: 1
			path: src/Models/Observers/ReservationObserver.php

		-
			message: "#^Call to an undefined method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:tables\\(\\)\\.$#"
			count: 1
			path: src/Models/Observers/ReservationObserver.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:\\$location\\.$#"
			count: 7
			path: src/Models/Reservation.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:\\$status\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Access to an undefined property Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:\\$tables\\.$#"
			count: 2
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Igniter\\\\Admin\\\\Models\\\\StatusHistory\\|Igniter\\\\Flame\\\\Database\\\\Builder\\<Igniter\\\\Admin\\\\Models\\\\StatusHistory\\>\\:\\:whereStatusIsLatest\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:location\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:pluckDates\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:tables\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\Reservation\\\\Models\\\\DiningTable\\>\\:\\:reservable\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<static\\(Igniter\\\\Reservation\\\\Models\\\\Reservation\\)\\>\\:\\:whereLocationId\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Carbon\\:\\:diffInRealMinutes\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:getReservationStayTime\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\DiningSection\\:\\:whereHasLocation\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\DiningTable\\:\\:whereHasLocation\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\Reservation\\:\\:whereBetween\\(\\)\\.$#"
			count: 1
			path: src/Models/Reservation.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereCanAccommodate\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereHasLocation\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereIsAvailableAt\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereIsAvailableForDate\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereIsAvailableOn\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereIsReservable\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereIsRoot\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:fireEvent\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/DiningTableScope.php

		-
			message: "#^Call to an undefined method Igniter\\\\Reservation\\\\Models\\\\Scopes\\\\ReservationScope\\:\\:whereBetweenStayTime\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/ReservationScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereBetweenReservationDateTime\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/ReservationScope.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Reservation\\\\Models\\\\Table\\:\\:selectRaw\\(\\)\\.$#"
			count: 1
			path: src/Models/Table.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$customer_name\\.$#"
			count: 1
			path: src/Notifications/ReservationCreatedNotification.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$location\\.$#"
			count: 1
			path: src/Notifications/ReservationCreatedNotification.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\User\\\\Models\\\\User\\>\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Notifications/ReservationCreatedNotification.php
