parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property DateTime\\:\\:\\$timestamp\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$location\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:whereHash\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Status\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Classes/BookingManager.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 3
			path: src/Classes/BookingManager.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:\\$hash\\.$#"
			count: 1
			path: src/Components/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Location\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Components/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Location\\:\\:whereSlug\\(\\)\\.$#"
			count: 1
			path: src/Components/Booking.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Components/Booking.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:listFrontEnd\\(\\)\\.$#"
			count: 1
			path: src/Components/Reservations.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Components/Reservations.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Components/Reservations.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 3
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxGuestSizePerTimeslotReached.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxGuestSizePerTimeslotReached.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxGuestSizePerTimeslotReached.php

		-
			message: "#^Comparison operation \"\\>\" between \\(array\\|float\\|int\\) and int\\<min, \\-1\\>\\|int\\<1, max\\> results in an error\\.$#"
			count: 1
			path: src/Listeners/MaxGuestSizePerTimeslotReached.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$customer_name\\.$#"
			count: 1
			path: src/Notifications/ReservationCreatedNotification.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$location\\.$#"
			count: 1
			path: src/Notifications/ReservationCreatedNotification.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Auth\\\\Models\\\\User\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Notifications/ReservationCreatedNotification.php

		-
			message: "#^Call to static method orderType\\(\\) on an unknown class Igniter\\\\Reservation\\\\ScheduleTypes\\\\LocationFacade\\.$#"
			count: 1
			path: src/ScheduleTypes/Opening.php
