.timeslot {
    padding: 6px 20px;
    text-align: center;
    white-space: nowrap;
}

.flatpickr-wrapper,
.flatpickr-calendar.inline,
.flatpickr-days,
.dayContainer,
.flatpickr-rContainer {
    width: 100%;
    max-width: 100%;
}

.flatpickr-day {
    width: auto;
    max-width: 100%;
    height: auto;
}
